# WEB SCRAPING – ASSIGNMENT 2

In [6]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
#Importing requests
import requests

# importing regex
import re

# Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

 1.First get the webpage https://www.naukri.com/
        
 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

 3.Then click the search button.
    
 4.Then scrape the data for the first 10 jobs results you get.

 5.Finally create a dataframe of the scraped data.

In [2]:
#connect to webdriver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

#to get url
driver.get('https://www.naukri.com/')

In [4]:
#finding elements for job search bar
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys("Data Analyst")
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [5]:
url = 'https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'
# to open the webpage through our web drivers
driver.get(url)

In [6]:
#  create empty list to save the output
job_titles = []
company_name = []
location = []
experience_required = []

# finding the xpath for job titles
titles_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
titles_tags[:10]

for i in titles_tags:
    title = i.text
    job_titles.append(title)
job_titles[:10]

#finding the xpath for company names
companies_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

for i in companies_tags:
    title = i.text
    company_name.append(title)
company_name[:10]

#finding the xpath for locations
location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[:10]

for i in location_tags:
    title = i.text
    location.append(title)
location[:10]

#finding the xpath for experience
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[:10]

for i in experience_tags:
    title = i.text
    experience_required.append(title)
experience_required[:10]

#making of dataframe from collected data
jobs = pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company'] = company_name[:10]
jobs['experience'] = experience_required[:10]
jobs['location'] = location[:10]
jobs

,title,company,experience,location
0,HCL hiring For Data Analyst,HCL Technologies,3-8 Yrs,"Bangalore/Bengaluru, Pune, Chennai"
1,Sr. Data Analyst,Global Indian School Education Services,6-11 Yrs,"Bangalore/Bengaluru, Pune"
2,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
3,Programmer / Data Analyst,Frost & Sullivan,3-7 Yrs,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
4,Immediate opening For Data Analyst @ Bangalore,TeamLease,4-6 Yrs,Bangalore/Bengaluru
5,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,0-2 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
6,Data Analyst,Vola Finance,3-7 Yrs,Bangalore/Bengaluru
7,Customer Data Analyst,Oracle,1-3 Yrs,Bangalore/Bengaluru
8,BYJU'S DBEL : Sr Data Analyst,BYJUS,3-7 Yrs,Bangalore/Bengaluru
9,SR. Data Analyst- SME- Pharma and Healthcare,CHRYSELYS,2-6 Yrs,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

In [7]:
driver.close

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [9]:
#connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')
time.sleep(2)

#to get url
driver.get('https://www.naukri.com/')

In [11]:
#finding elements for job search bar
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys("Data Scientist")
search_loc = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_loc.send_keys("Bangalore")

In [13]:
#to click search button
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_button.click()

In [14]:
url = 'https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore'
# to open the webpage through our web drivers
driver.get(url)

In [15]:
# finding the xpath for job titles
titles_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
titles_tags[:10]

for i in titles_tags:
    title = i.text
    job_titles.append(title)
job_titles[:10]

#finding the xpath for company names
companies_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

for i in companies_tags:
    title = i.text
    company_name.append(title)
company_name[:10]

#finding the xpath for locations
location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[:10]

for i in location_tags:
    title = i.text
    location.append(title)
location[:10]

#making of dataframe from collected data
jobs = pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company'] = company_name[:10]
jobs['location'] = location[:10]
jobs

,title,company,location
0,HCL hiring For Data Analyst,HCL Technologies,"Bangalore/Bengaluru, Pune, Chennai"
1,Sr. Data Analyst,Global Indian School Education Services,"Bangalore/Bengaluru, Pune"
2,Contractual Hiring For Top MNC || Business Dat...,TeamLease,Bangalore/Bengaluru
3,Programmer / Data Analyst,Frost & Sullivan,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
4,Immediate opening For Data Analyst @ Bangalore,TeamLease,Bangalore/Bengaluru
5,Data Analyst - Python/Artificial Intelligence,iMindYourBusiness,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
6,Data Analyst,Vola Finance,Bangalore/Bengaluru
7,Customer Data Analyst,Oracle,Bangalore/Bengaluru
8,BYJU'S DBEL : Sr Data Analyst,BYJUS,Bangalore/Bengaluru
9,SR. Data Analyst- SME- Pharma and Healthcare,CHRYSELYS,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

In [16]:
driver.close

# Q3: In this question you have to scrape data using the filters available on the webpage: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [17]:
#connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')
time.sleep(2)

#to get url
driver.get('https://www.naukri.com/')

In [18]:
#finding elements for job search bar
search_job = driver.find_element(By.CLASS_NAME,'suggestor-input ')
search_job.send_keys("Data Scientist")

In [20]:
#to click search button
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_button.click()

In [23]:
# applying location filter
location_tab = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')
location_tab.click()

In [25]:
#applying salary filter
salary_tab = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary_tab.click()

In [26]:
url ='https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityTypeGid=9508&ctcFilter=3to6'
# to open the webpage through our web drivers
driver.get(url)

In [27]:
job_titles = []
company_name = []
location = []
experience_required = []

# finding the xpath for job titles
titles_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
titles_tags[:10]

for i in titles_tags:
    title = i.text
    job_titles.append(title)
job_titles[:10]

#finding the xpath for company names
companies_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

for i in companies_tags:
    title = i.text
    company_name.append(title)
company_name[:10]

#finding the xpath for locations
location_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[:10]

for i in location_tags:
    title = i.text
    location.append(title)
location[:10]

#finding the xpath for experience
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[:10]

for i in experience_tags:
    title = i.text
    experience_required.append(title)
experience_required[:10]

#making of dataframe from collected data
jobs = pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company'] = company_name[:10]
jobs['experience'] = experience_required[:10]
jobs['location'] = location[:10]
jobs

,title,company,experience,location
0,Data Scientist,GlobalLogic,8-10 Yrs,"Noida, Nagpur, Bangalore/Bengaluru"
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,2-5 Yrs,"New Delhi, Bangalore/Bengaluru"
2,Data Scientist,Optum,2-7 Yrs,Gurgaon/Gurugram
3,Data Scientist / Chat-bot Developer,Big Seo Buzz,3-7 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
4,Lead Data Scientist,R Systems International,7-10 Yrs,Noida(Sector-59 Noida)
5,Data Scientist - Predictive Analytics,Confidential,1-6 Yrs,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera..."
6,Data Scientist For Healthcare Product team,SECUREKLOUD TECHNOLOGIES,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
7,Data Scientist,Feedback Infra,2-4 Yrs,Gurgaon/Gurugram
8,Data Scientist - Engine Algorithm,Primo Hiring,1-3 Yrs,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund..."
9,Data Scientist,4i Odc,2-4 Yrs,Noida

In [28]:
driver.close

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price

In [29]:
#connect to webdriver
driver = webdriver.Chrome(r'chromedriver.exe')
time.sleep(2)

#to get url
driver.get('https://www.flipkart.com/')

In [30]:
# to close login pop up
driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']").click()

In [31]:
#finding elements for job search bar
search_job = driver.find_element(By.CLASS_NAME,'_3704LK')
search_job.send_keys("sunglasses")

In [32]:
search_button = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']").click()

In [33]:
url ='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
#to get url
driver.get(url)

In [34]:
element_list = []

for page in range (0,4):
    page_url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver = webdriver.Chrome(r'chromedriver.exe')
    driver.get(page_url)
    brand_tag = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    product_tag = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    price_tag = driver.find_elements(By.CLASS_NAME,'_30jeq3')
    discount_tag = driver.find_elements(By.CLASS_NAME,'_3Ay6Sb')
    
    for i in range(len(brand_tag)):
        element_list.append([brand_tag[i].text,product_tag[i].text,price_tag[i].text,discount_tag[i].text])
element_list

[['New Specs',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹250',
  '90% off'],
 ['PHENOMENAL',
  'UV Protection Retro Square Sunglasses (53)',
  '₹267',
  '73% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹799',
  '20% off'],
 ['VINCENT CHASE',
  'Polarized, UV Protection Round Sunglasses (50)',
  '₹1,049',
  '47% off'],
 ['PIRASO', 'UV Protection Aviator Sunglasses (54)', '₹279', '82% off'],
 ['SUNBEE',
  'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
  '₹283',
  '78% off'],
 ['Elligator', 'UV Protection Round Sunglasses (54)', '₹298', '88% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
  '₹1,049',
  '47% off'],
 ['Mi', 'Polarized Aviator Sunglasses (Free Size)', '₹799', '33% off'],
 ['Fastrack',
  'UV Protection Aviator Sunglasses (Free Size)',
  '₹639',
  '20% off'],
 ['Poshh eyewear',
  'UV Protection, Night Vision, Riding Glasses Sports, Wra...',
  '₹211',
  '78% off'],
 ['ROZZETTA CRAFT',
  'UV Protection, Gradient Retro Square Sunglasses (Free S...',
  '₹349',
  '82% off'],
 ['Sewell',
  'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
  '₹265',
  '82% off'],
 ['Lee Topper',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹219',
  '78% off'],
 ['ROYAL SON', 'Mirrored Aviator Sunglasses (55)', '₹379', '74% off'],
 ['Fastrack',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹639',
  '20% off'],
 ['Fastrack', 'UV Protection Wayfarer Sunglasses (56)', '₹989', '23% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['SHAAH COLLECTIONS',
  'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
  '₹195',
  '88% off'],
 ['PIRASO', 'UV Protection Aviator Sunglasses (54)', '₹246', '84% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Retro Square Sunglasses (Free Size)',
  '₹499',
  '77% off'],
 ['VINCENT CHASE',
  'Polarized, UV Protection Round Sunglasses (50)',
  '₹1,099',
  '45% off'],
 ['SRPM',
  'Night Vision, UV Protection Round Sunglasses (54)',
  '₹220',
  '77% off'],
 ['PIRASO', 'UV Protection Aviator Sunglasses (58)', '₹359', '86% off'],
 ['Fastrack', 'UV Protection Aviator Sunglasses (58)', '₹1,039', '20% off'],
 ['LIZA ANGEL',
  'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
  '₹199',
  '80% off'],
 ['Fastrack',
  'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
  '₹719',
  '20% off'],
 ['Fastrack', 'UV Protection Aviator Sunglasses (58)', '₹1,039', '20% off'],
 ['Rich Club',
  'UV Protection Retro Square Sunglasses (54)',
  '₹299',
  '57% off'],
 ['ROZZETTA CRAFT',
  'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
  '₹499',
  '75% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
  '₹899',
  '55% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
  '₹1,049',
  '58% off'],
 ['kingsunglasses',
  'UV Protection Round Sunglasses (Free Size)',
  '₹329',
  '79% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Rectangular Sungla...',
  '₹749',
  '62% off'],
 ['SRPM', 'UV Protection Wayfarer Sunglasses (50)', '₹211', '83% off'],
 ['PIRASO', 'UV Protection Wayfarer Sunglasses (32)', '₹279', '82% off'],
 ['kingsunglasses',
  'UV Protection Rectangular Sunglasses (55)',
  '₹189',
  '85% off'],
 ['AISLIN',
  'Toughened Glass Lens, UV Protection Aviator, Wayfarer S...',
  '₹995',
  '73% off'],
 ['ROYAL SON',
  'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
  '₹664',
  '66% off'],
 ['EYELLUSION',
  'Riding Glasses, Riding Glasses, UV Protection Round Sun...',
  '₹189',
  '81% off'],
 ['VINCENT CHASE',
  'Polarized, UV Protection Round Sunglasses (50)',
  '₹1,049',
  '47% off'],
 ['VINCENT CHASE',
  'UV Protection Rectangular Sunglasses (50)',
  '₹699',
  '65% off'],
 ['New Specs',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹250',
  '90% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹799',
  '20% off'],
 ['PHENOMENAL',
  'UV Protection Retro Square Sunglasses (53)',
  '₹267',
  '73% off'],
 ['Fastrack',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹639',
  '20% off'],
 ['SHAAH COLLECTIONS',
  'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
  '₹195',
  '88% off'],
 ['Poshh eyewear',
  'UV Protection, Night Vision, Riding Glasses Sports, Wra...',
  '₹211',
  '78% off'],
 ['LIZA ANGEL',
  'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
  '₹199',
  '80% off'],
 ['Elligator', 'UV Protection Round Sunglasses (54)', '₹298', '88% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['Sewell',
  'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
  '₹265',
  '82% off'],
 ['SUNBEE',
  'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
  '₹283',
  '78% off'],
 ['PIRASO', 'UV Protection Aviator Sunglasses (54)', '₹279', '82% off'],
 ['Fastrack',
  'UV Protection Aviator Sunglasses (Free Size)',
  '₹639',
  '20% off'],
 ['Fastrack', 'UV Protection Round Sunglasses (52)', '₹599', '25% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Retro Square Sunglasses (Free Size)',
  '₹499',
  '77% off'],
 ['PIRASO', 'UV Protection Aviator Sunglasses (54)', '₹246', '84% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹759',
  '15% off'],
 ['VINCENT CHASE',
  'Polarized, UV Protection Round Sunglasses (50)',
  '₹1,099',
  '45% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Rectangular Sungla...',
  '₹749',
  '62% off'],
 ['PIRASO', 'UV Protection Rectangular Sunglasses (52)', '₹296', '81% off'],
 ['Fastrack', 'UV Protection Aviator Sunglasses (58)', '₹1,039', '20% off'],
 ['Lee Topper',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹219',
  '78% off'],
 ['Fastrack', 'UV Protection Aviator Sunglasses (58)', '₹1,169', '10% off'],
 ['ROYAL SON', 'Mirrored Aviator Sunglasses (55)', '₹379', '74% off'],
 ['Fastrack', 'UV Protection Wayfarer Sunglasses (56)', '₹989', '23% off'],
 ['SRPM', 'UV Protection Wayfarer Sunglasses (50)', '₹211', '83% off'],
 ['Fastrack',
  'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
  '₹719',
  '20% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
  '₹899',
  '55% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
  '₹1,049',
  '58% off'],
 ['ROZZETTA CRAFT',
  'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
  '₹499',
  '75% off'],
 ['New Specs',
  'Mirrored, UV Protection, Riding Glasses, Others Round S...',
  '₹299',
  '81% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Aviator Sunglasses (55)',
  '₹649',
  '74% off'],
 ['PIRASO', 'UV Protection Aviator Sunglasses (58)', '₹359', '86% off'],
 ['New Specs', 'UV Protection Oval Sunglasses (Free Size)', '₹196', '80% off'],
 ['AISLIN',
  'Toughened Glass Lens, UV Protection Aviator, Wayfarer S...',
  '₹995',
  '73% off'],
 ['EYELLUSION',
  'Riding Glasses, Riding Glasses, UV Protection Round Sun...',
  '₹189',
  '81% off'],
 ['kingsunglasses',
  'UV Protection Rectangular Sunglasses (55)',
  '₹189',
  '85% off'],
 ['VINCENT CHASE',
  'UV Protection Rectangular Sunglasses (50)',
  '₹699',
  '65% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹999',
  '50% off'],
 ['Fastrack', 'UV Protection Wayfarer Sunglasses (55)', '₹739', '7% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Retro Square Sunglasses (Free Size)',
  '₹499',
  '77% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Aviator Sunglasses (55)',
  '₹649',
  '74% off'],
 ['hipe',
  'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
  '₹210',
  '83% off'],
 ['New Specs',
  'UV Protection Round Sunglasses (Free Size)',
  '₹268',
  '79% off'],
 ['kingsunglasses', 'UV Protection Round Sunglasses (54)', '₹214', '78% off'],
 ['SUNBEE',
  'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
  '₹259',
  '80% off'],
 ['PHENOMENAL',
  'UV Protection, Mirrored Retro Square Sunglasses (53)',
  '₹369',
  '81% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
  '₹1,049',
  '47% off'],
 ['Poshh eyewear',
  'UV Protection, Night Vision, Riding Glasses Sports, Wra...',
  '₹211',
  '78% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹759',
  '15% off'],
 ['ROZZETTA CRAFT',
  'UV Protection, Gradient Round Sunglasses (Free Size)',
  '₹399',
  '80% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Retro Square Sungl...',
  '₹949',
  '52% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹559',
  '30% off'],
 ['kingsunglasses',
  'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
  '₹213',
  '82% off'],
 ['ROZZETTA CRAFT',
  'UV Protection, Gradient Retro Square Sunglasses (Free S...',
  '₹349',
  '82% off'],
 ['Fastrack', 'UV Protection Wrap-around Sunglasses (63)', '₹710', '21% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
  '₹1,049',
  '47% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['HIPPON', 'UV Protection Wayfarer Sunglasses (55)', '₹219', '81% off'],
 ['Fastrack',
  'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
  '₹899',
  '10% off'],
 ['New Specs', 'UV Protection Oval Sunglasses (Free Size)', '₹196', '80% off'],
 ['Silver Kartz',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹288',
  '80% off'],
 ['CRYSTAL CART',
  'Polarized, Gradient, UV Protection, Mirrored Over-sized...',
  '₹299',
  '85% off'],
 ['GHAWK',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹309',
  '69% off'],
 ['ROYAL SON', 'Polarized Rectangular Sunglasses (60)', '₹664', '66% off'],
 ['LIZA ANGEL',
  'Riding Glasses, UV Protection, Night Vision Spectacle ...',
  '₹199',
  '60% off'],
 ['VINCENT CHASE',
  'Polarized, UV Protection Round Sunglasses (50)',
  '₹1,099',
  '45% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
  '₹899',
  '55% off'],
 ['EYELLUSION',
  'Night Vision, Riding Glasses, UV Protection, Gradient A...',
  '₹249',
  '87% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
  '₹749',
  '70% off'],
 ['ROYAL SON',
  'Polarized, UV Protection Wayfarer Sunglasses (61)',
  '₹664',
  '66% off'],
 ['SKYZA INDIA',
  'Polarized, UV Protection Sports Sunglasses (Free Size)',
  '₹489',
  '59% off'],
 ['Lee Topper',
  'Riding Glasses Wrap-around Sunglasses (Free Size)',
  '₹299',
  '88% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
  '₹1,049',
  '58% off'],
 ['Fastrack',
  'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
  '₹759',
  '15% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹599',
  '25% off'],
 ['VINCENT CHASE',
  'UV Protection Rectangular Sunglasses (50)',
  '₹699',
  '65% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹999',
  '50% off'],
 ['Rich Club', 'Polarized Round Sunglasses (48)', '₹209', '58% off'],
 ['WROGN', 'Polarized Round Sunglasses (44)', '₹599', '82% off'],
 ['kingsunglasses',
  'UV Protection, Others Round, Aviator Sunglasses (54)',
  '₹214',
  '78% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹319',
  '78% off'],
 ['ROYAL SON',
  'UV Protection Rectangular, Retro Square Sunglasses (58)',
  '₹474',
  '68% off'],
 ['SUNBEE',
  'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
  '₹324',
  '80% off'],
 ['ROYAL SON', 'Mirrored Aviator Sunglasses (58)', '₹379', '74% off'],
 ['New Specs',
  'UV Protection Rectangular Sunglasses (Free Size)',
  '₹189',
  '88% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
  '₹1,049',
  '47% off'],
 ['Poshh eyewear',
  'UV Protection, Night Vision, Riding Glasses Sports, Wra...',
  '₹211',
  '78% off'],
 ['CRYSTAL CART',
  'Polarized, UV Protection, Gradient, Riding Glasses Oval...',
  '₹319',
  '78% off'],
 ['kingsunglasses',
  'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
  '₹284',
  '81% off'],
 ['Dannilo',
  'UV Protection, Riding Glasses, Night Vision Round Sungl...',
  '₹209',
  '89% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹639',
  '20% off'],
 ['GANSTA',
  'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
  '₹242',
  '81% off'],
 ['ROZZETTA CRAFT',
  'UV Protection, Gradient Retro Square Sunglasses (Free S...',
  '₹349',
  '82% off'],
 ['kingsunglasses',
  'Mirrored, UV Protection Wayfarer Sunglasses (53)',
  '₹284',
  '85% off'],
 ['kingsunglasses',
  'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
  '₹255',
  '82% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...',
  '₹949',
  '52% off'],
 ['ROYAL SON',
  'UV Protection, Gradient Butterfly Sunglasses (52)',
  '₹664',
  '66% off'],
 ['Singco India',
  'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
  '₹312',
  '84% off'],
 ['HRX by Hrithik Roshan',
  'Mirrored Rectangular Sunglasses (Free Size)',
  '₹999',
  '65% off'],
 ['PIRASO', 'UV Protection Wayfarer Sunglasses (55)', '₹251', '84% off'],
 ['Rich Club', 'UV Protection Cat-eye Sunglasses (48)', '₹263', '62% off'],
 ['Fastrack',
  'UV Protection Wayfarer Sunglasses (Free Size)',
  '₹759',
  '15% off'],
 ['kingsunglasses',
  'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
  '₹289',
  '85% off'],
 ['Elligator', 'UV Protection Aviator Sunglasses (55)', '₹329', '83% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Retro Square Sunglasses (Free Size)',
  '₹499',
  '77% off'],
 ['VINCENT CHASE',
  'Polarized, UV Protection Round Sunglasses (50)',
  '₹1,099',
  '45% off'],
 ['Mi', 'Polarized Wayfarer Sunglasses (Free Size)', '₹759', '24% off'],
 ['Dannilo',
  'UV Protection Aviator Sunglasses (Free Size)',
  '₹230',
  '76% off'],
 ['ROYAL SON', 'Others Retro Square Sunglasses (58)', '₹474', '68% off'],
 ['ROYAL SON',
  'Polarized, UV Protection Sports Sunglasses (68)',
  '₹1,234',
  '50% off'],
 ['ROZZETTA CRAFT',
  'UV Protection Spectacle Sunglasses (Free Size)',
  '₹399',
  '80% off'],
 ['VINCENT CHASE',
  'by Lenskart Polarized, UV Protection Rectangular Sungla...',
  '₹749',
  '62% off'],
 ['Ray-Ban',
  'UV Protection Retro Square Sunglasses (55)',
  '₹3,289',
  '40% off'],
 ['GANSTA',
  'Riding Glasses, UV Protection Wayfarer Sunglasses (54)',
  '₹242',
  '69% off']]

In [35]:
sunglass = pd.DataFrame(element_list)
sunglass.columns = ['Brand','Product Description','Price','Discount']
sunglass[:100]

,Brand,Product Description,Price,Discount
0,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹250,90% off
1,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹267,73% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹1,049",47% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹279,82% off
...,...,...,...,...
95,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹559,30% off
96,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹213,82% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349,82% off
98,Fastrack,UV Protection Wrap-around Sunglasses (63),₹710,21% off
99,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,049",47% off

In [36]:
driver.close

# Q5. Scrape 100 reviews data from flipkart.com for iphone11 phone.

This task will be done in following steps:

1. First get the webpage https://www.flipkart.com/

2. Enter “iphone 11” in “Search” field.

3. Then click the search button.

You will reach to the below shown webpage.

As shown in the above page you have to scrape the tick marked attributes.These are:

1. Rating

2. Review summary

3. Full review

4. You have to scrape this data for first 100 reviews

In [43]:
# get drivers
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

In [44]:
#get url
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [45]:
# to click the button to open all the reviews
all_review_button = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[6]/div/a/div/span").click()

In [46]:
#get the url of all review page
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART"
driver.get(url)

In [47]:
# to find all elements and from different pages and save them in list
element_list1 = []

for page in range (0,14):
    page_url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART&page=" + str(page)
    driver = webdriver.Chrome(r'chromedriver.exe')
    driver.get(page_url)
    rating_tag = driver.find_elements(By.XPATH,".//div[@class='row']//div[@class='_3LWZlK _1BLPMq']")
    summary_tag = driver.find_elements(By.CLASS_NAME,'_2-N8zT')
    review_tag = driver.find_elements(By.CLASS_NAME,'t-ZTKy')
    
    for i in range(len(rating_tag)):
        element_list1.append([rating_tag[i].text,summary_tag[i].text,review_tag[i].text])
element_list1

[['5',
  'Simply awesome',
  'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.'],
 ['5',
  'Perfect product!',
  'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .'],
 ['5',
  'Best in the market!',
  'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE'],
 ['5',
  'Worth every penny',
  'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE'],
 ['5',
  'Highly recommended',
  'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow'],
 ['5',
  'Fabulous!',
  'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.'],
 ['5',
  'Great product',
  'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE'],
 ['5',
  'Highly recommended',
  "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯"],
 ['5',
  'Worth every penny',
  'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..'],
 ['4',
  'Good choice',
  'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome'],
 ['5',
  'Highly recommended',
  'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !'],
 ['5',
  'Perfect product!',
  'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE'],
 ['5',
  'Perfect product!',
  'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11'],
 ['5',
  'Perfect product!',
  'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one'],
 ['5',
  'Worth every penny',
  'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.'],
 ['5',
  'Perfect product!',
  "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it."],
 ['5',
  'Highly recommended',
  'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE'],
 ['5',
  'Terrific',
  'Really worth of money. i just love it. It is the best phone ever.'],
 ['5',
  'Wonderful',
  'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.'],
 ['5',
  'Worth every penny',
  'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE'],
 ['5',
  'Simply awesome',
  'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE'],
 ['5',
  'Classy product',
  'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤'],
 ['4',
  'Pretty good',
  'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.'],
 ['5',
  'Worth every penny',
  'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE'],
 ['4',
  'Good choice',
  'Looking so good 👍 😍 super 👌 stylish 😎 phone\nClean box 📦 good 👍 delivery 👌 fast delivery\nOriginal box Original iphone 📱 👌 😍😍😍'],
 ['5',
  'Perfect product!',
  'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.'],
 ['5',
  'Great product',
  "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕."],
 ['5',
  'Must buy!',
  'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE'],
 ['4',
  'Nice product',
  'Awesome Phone. Slightly high price but worth. Better than iPhone XR.\nCamera is superb and wide angle camera is very clear.\n12MP selfie camera is also very good.\nA13 Chip gives a very good and smooth performance.'],
 ['5',
  'Classy product',
  'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.\n\nBought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!\n\nThe phone is great and does excellent RAM management like any other Apple device.\n\nThe screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...\nREAD MORE'],
 ['5',
  'Brilliant',
  'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE'],
 ['5',
  'Classy product',
  'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !'],
 ['5',
  'Must buy!',
  'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE'],
 ['5',
  'Excellent',
  'Its a fabulous mobile look awesome performance unbeaten camera like dslr battery good i think this is a beast of mobile'],
 ['5',
  'Fabulous!',
  "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but...\nREAD MORE"],
 ['5',
  'Fabulous!',
  'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..'],
 ['5',
  'Perfect product!',
  'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use'],
 ['5',
  'Classy product',
  'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.\n\nP.S the black is more of a dark grey shade and not jet black'],
 ['5',
  'Awesome',
  'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫'],
 ['5',
  'Wonderful',
  'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE'],
 ['5',
  'Simply awesome',
  "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone"],
 ['5',
  'Mind-blowing purchase',
  'Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine\nHighlights;\n1.Camera: 5 STAR\n2.Video Recording: 5 star\n3.Night mODE sHOOTING & Camera:4 star\n4. Audio Quality: Awesome\n5. Battery : 5 Star\n6. Touch:5 Star\n7. Processor: Very Fast\nThe M...\nREAD MORE'],
 ['5',
  'Terrific purchase',
  'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.'],
 ['5',
  'Great product',
  'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE'],
 ['5',
  'Excellent',
  'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this'],
 ['5',
  'Terrific purchase',
  'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.'],
 ['5',
  'Mind-blowing purchase',
  'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE'],
 ['5',
  'Simply awesome',
  'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11'],
 ['4',
  'Good quality product',
  'it is very good at performance. Camera is best like before and very smooth response even in water. Don’t buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ☺️'],
 ['5',
  'Perfect product!',
  'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE'],
 ['5',
  'Fabulous!',
  'Everything is perfect pictures come out so clearly and at first I wasn’t sure when I got it then when I started to use it and get the hang of it it was amazing!! I can’t wait to see what the next future phones will be like. The screen display on this bad boy are unbelievable they are so clear and never fail me. The performance is super cool there is a lot of cool features as well I like this phone because I feel that it is easy to use and one of my favorite things about this phone is the Face...\nREAD MORE'],
 ['5',
  'Super!',
  'It’s been 7 years I was waiting for an income for my first iPhone .it was like a dream to me and finally I achieved it. Why chose iPhone?? It’s a premium standard level phone maybe you could find other brands valu like this but not all those are iPhone. If you are thinking to buy an iPhone don’t think too much grab it bro. Being an an iPhone owner can give you a feeling like owning an Lamborghini in your pocket According to me a middle class family boy.\n\n\nBest on camera and videography\nSoun...\nREAD MORE'],
 ['5',
  'Mind-blowing purchase',

In [48]:
# making dataframe
iphone = pd.DataFrame(element_list1)
iphone.columns = ['Ratings','Review Summary','Full Review']
iphone[:100]

,Ratings,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
96,5,Excellent,Just go for it.\nThis phone is really amazing....
97,5,Great product,excellent
98,5,Simply awesome,Very good product and the service the seller p...
99,5,Terrific purchase,I use a Note10+ and have been using both iOS a...

In [49]:
driver.close

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:

1.Brand

2.Product Description

3.Price

4.Discount

In [7]:
#connect to webdriver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

#to get url
driver.get('https://www.flipkart.com/')

In [8]:
# to close login pop up
driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']").click()

In [9]:
#finding elements for sneaker search bar
search_job = driver.find_element(By.CLASS_NAME,'_3704LK')
search_job.send_keys("sneaker")

In [10]:
search_button = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']").click()

In [11]:
url ='https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
#to get url
driver.get(url)

In [12]:
# to find all elements and from different pages and save them in list
element_list3 = []

for page in range (0,4):
    page_url = "https://www.flipkart.com/search?q=sneaker&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=" + str(page)
    driver = webdriver.Chrome(r'chromedriver.exe')
    driver.get(page_url)
    brand_tag = driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    product_tag = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    price_tag = driver.find_elements(By.CLASS_NAME,'_30jeq3')
    discount_tag = driver.find_elements(By.CLASS_NAME,'_3Ay6Sb')
    
    for i in range(len(brand_tag)):
        element_list3.append([brand_tag[i].text,product_tag[i].text,price_tag[i].text,discount_tag[i].text])
element_list3

[['Chevit',
  'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
  '₹629',
  '66% off'],
 ['Shozie', 'Sneakers For Men', '₹389', '61% off'],
 ['aadi', 'Sneakers For Men', '₹279', '72% off'],
 ['FindMine', 'Sneakers For Men', '₹499', '50% off'],
 ['BRUTON',
  'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
  '₹179',
  '70% off'],
 ['Labbin', 'Sneakers For Men', '₹424', '57% off'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹299',
  '76% off'],
 ['TUNER', 'Sneakers For Men', '₹322', '67% off'],
 ['RapidBox', 'Sneakers For Men', '₹540', '45% off'],
 ['KWIK FIT',
  'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
  '₹399',
  '80% off'],
 ['Hida', 'Sneakers For Men', '₹551', '44% off'],
 ['FindMine', 'Sneakers For Men', '₹499', '50% off'],
 ['Layasa', 'Sneakers For Men', '₹399', '60% off'],
 ['HOTSTYLE', 'Sneakers For Men', '₹292', '70% off'],
 ['ASTEROID',
  "Original Luxury Branded Fashionable Men's Casual Walkin...",
  '₹449',
  '77% off'],
 ['SCATCHITE', 'Sneakers Sneakers For Men', '₹360', '63% off'],
 ['Magnolia', 'Sneakers For Men', '₹399', '60% off'],
 ['Hida', 'Sneakers For Men', '₹424', '57% off'],
 ['Magnolia', 'Sneakers For Men', '₹396', '60% off'],
 ['Shozie', 'Sneakers For Men', '₹348', '65% off'],
 ['Hida', 'Sneakers For Men', '₹485', '51% off'],
 ['RapidBox', 'Sneakers For Men', '₹437', '56% off'],
 ['Shozie',
  'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...',
  '₹379',
  '62% off'],
 ['aadi', 'Sneakers For Men', '₹305', '69% off'],
 ['TR', 'Sneakers For Men', '₹299', '80% off'],
 ['K- FOOTLANCE', 'Sneakers For Men', '₹389', '61% off'],
 ['Layasa', 'supr Sneakers For Men', '₹199', '80% off'],
 ['Krors',
  'Mens Sneakers Shoes, Casual Shoes Sneakers For Men',
  '₹499',
  '50% off'],
 ['PORT',
  'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
  '₹399',
  '80% off'],
 ['Kzaara', 'Sneakers For Men', '₹149', '85% off'],
 ['kardam&sons',
  'Fashionable Canvas Casual Partywear Outdoor Sneakers wh...',
  '₹399',
  '69% off'],
 ['Scull Wings',
  'GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR MEN GREEN ...',
  '₹494',
  '67% off'],
 ['BRUTON', 'Exclusive Sneaker Shoes Sneakers For Men', '₹319', '75% off'],
 ['URBANBOX', 'Sneakers Sneakers For Men', '₹198', '80% off'],
 ['Deals4you', 'Sneakers For Men', '₹399', '73% off'],
 ['Xtoon', 'Modern Trendy Sneakers boot Sneakers For Men', '₹424', '71% off'],
 ['Layasa', 'Sneakers For Men', '₹350', '64% off'],
 ['Strollin', 'Sneakers For Men', '₹499', '75% off'],
 ['Shozie', 'Sneakers For Men', '₹399', '60% off'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹320',
  '75% off'],
 ['Hida', 'Sneakers For Men', '₹551', '44% off'],
 ['Strollin', 'Sneakers For Men', '₹499', '75% off'],
 ['Shozie', 'Sneakers For Men', '₹389', '61% off'],
 ['Chevit',
  'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
  '₹629',
  '66% off'],
 ['aadi', 'Sneakers For Men', '₹279', '72% off'],
 ['BRUTON',
  'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
  '₹179',
  '70% off'],
 ['Labbin', 'Sneakers For Men', '₹424', '57% off'],
 ['RapidBox', 'Sneakers For Men', '₹437', '56% off'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹299',
  '76% off'],
 ['RapidBox', 'Sneakers For Men', '₹540', '45% off'],
 ['Vask',
  'Comfortable Premium Stylish Unique Trendy Popular TOUCH...',
  '₹428',
  '71% off'],
 ['Mast & Harbour', 'Sneakers For Men', '₹890', '57% off'],
 ['Layasa', 'Sneakers For Men', '₹399', '60% off'],
 ['HOTSTYLE', 'Sneakers For Men', '₹292', '70% off'],
 ['ASTEROID',
  "Original Luxury Branded Fashionable Men's Casual Walkin...",
  '₹449',
  '77% off'],
 ['Magnolia', 'Sneakers For Men', '₹399', '60% off'],
 ['SCATCHITE', 'Sneakers Sneakers For Men', '₹360', '63% off'],
 ['RapidBox', 'Sneakers For Men', '₹372', '40% off'],
 ['Shozie', 'Sneakers For Men', '₹348', '65% off'],
 ['Magnolia', 'Sneakers For Men', '₹396', '60% off'],
 ['RapidBox', 'Sneakers For Men', '₹472', '52% off'],
 ['KNIGHT WALKERS', 'SS1100 Sneakers For Men', '₹629', '68% off'],
 ['Layasa', 'supr Sneakers For Men', '₹199', '80% off'],
 ['Shozie',
  'Breathable, Walking, Running, Casual, Gym Shoes Sneaker...',
  '₹379',
  '62% off'],
 ['aadi', 'Sneakers For Men', '₹305', '69% off'],
 ['TR', 'Sneakers For Men', '₹299', '80% off'],
 ['KWIK FIT',
  'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
  '₹399',
  '80% off'],
 ['Krors',
  'Mens Sneakers Shoes, Casual Shoes Sneakers For Men',
  '₹499',
  '50% off'],
 ['Kzaara', 'Sneakers For Men', '₹149', '85% off'],
 ['BRUTON', 'Exclusive Sneaker Shoes Sneakers For Men', '₹319', '75% off'],
 ['OZJI', 'Fabric Ankle Boots Sneakers For Men', '₹648', '71% off'],
 ['Franxtar', 'white sneaker Sneakers For Men', '₹540', '45% off'],
 ['K- FOOTLANCE', 'Sneakers For Men', '₹389', '61% off'],
 ['Xtoon', 'Modern Trendy Sneakers boot Sneakers For Men', '₹424', '71% off'],
 ['Layasa', 'Sneakers For Men', '₹350', '64% off'],
 ['Layasa', 'supr Sneakers For Men', '₹199', '80% off'],
 ['Shozie', 'Sneakers For Men', '₹399', '60% off'],
 ['OZJI', 'Multi purpose casual shoes Sneakers For Men', '₹521', '69% off'],
 ['BRUTON',
  'Modern Trendy Sneakers Shoes Sneakers For Men',
  '₹320',
  '75% off'],
 ['Chevit',
  'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
  '₹499',
  '66% off'],
 ['FindMine', 'Sneakers For Men', '₹499', '50% off'],
 ['TUNER', 'Sneakers For Men', '₹322', '67% off'],
 ['aadi',
  'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
  '₹399',
  '80% off'],
 ['DUCATI', 'Sneakers For Men', '₹1,659', '55% off'],
 ['AMICO', 'Sneakers For Men', '₹449', '55% off'],
 ['Kraasa', 'Casuals, Canvas, Partywear Sneakers For Men', '₹468', '53% off'],
 ['DUNKASTON', 'Sneakers For Men', '₹299', '80% off'],
 ['Layasa', 'Sneakers For Men', '₹399', '60% off'],
 ['Chevit',
  'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
  '₹449',
  '75% off'],
 ['Xtoon',
  "Black casual shoes for men's, boot for men's,black boot...",
  '₹424',
  '71% off'],
 ['Hida', 'Sneakers For Men', '₹551', '44% off'],
 ['Strollin', 'Sneakers For Men', '₹499', '75% off'],
 ['asian',
  'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
  '₹419',
  '47% off'],
 ['ASTEROID',
  "Original Luxury Branded Fashionable Men's Casual Walkin...",
  '₹449',
  '55% off'],
 ['LE GREEM',
  'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
  '₹449',
  '55% off'],
 ['Layasa', 'Sneakers For Men', '₹399', '60% off'],
 ['World Wear Footwear',
  'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
  '₹249',
  '50% off'],
 ['Hida', 'Sneakers For Men', '₹485', '51% off'],
 ['Xtoon', 'Modern Trendy Sneakers boot Sneakers For Men', '₹424', '71% off'],
 ['Robbie jones',
  'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
  '₹442',
  '55% off'],
 ['Hida', 'Sneakers For Men', '₹424', '57% off'],
 ['RapidBox', 'Sneakers For Men', '₹437', '56% off'],
 ['SUSON',
  'Black Gym/Walking/Running Sports Sneakers For Men',
  '₹379',
  '62% off'],
 ['Deals4you', 'Sneakers For Men', '₹389', '61% off'],
 ["'Trends'",
  'Fashionable casual sneaker shoes Sneakers For Men',
  '₹425',
  '57% off'],
 ['WHITE WALKERS',
  'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
  '₹479',
  '60% off'],
 ['TrendWalk',
  "Original Luxury Branded Fashionable Men's Casual Walkin...",
  '₹474',
  '76% off'],
 ['Real Bliss', 'Fashion Sneaker Shoes Sneakers For Men', '₹355', '64% off'],
 ['Roadster', 'Sneakers For Men', '₹991', '68% off'],
 ['DUCATI', 'Sneakers For Men', '₹971', '73% off'],
 ['Scull Wings',
  'GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR MEN GREEN ...',
  '₹494',
  '67% off'],
 ['RapidBox', 'Sneakers For Men', '₹472', '52% off'],
 ['RONSON', 'Sneakers For Men', '₹599', '70% off'],
 ['RED TAPE', 'Classic Sneakers For Men', '₹1,574', '71% off'],
 ['Deals4you', 'Sneakers For Men', '₹449', '70% off'],
 ['RED TAPE', 'Sneakers For Men', '₹1,379', '70% off'],
 ['Shozie', 'Sneakers For Men', '₹448', '55% off'],
 ['KNIGHT WALKERS', 'SS1100 Sneakers For Men', '₹629', '68% off'],
 ['Kraasa', 'Series 7 Sneakers For Men', '₹468', '53% off'],
 ['STRANGER BROTHERS',
  'White & Black Sneakers For Men Casual Shoes For Men Tre...',
  '₹494',
  '67% off'],
 ['FindMine', 'Sneakers For Men', '₹499', '50% off'],
 ['TUNER', 'Sneakers For Men', '₹322', '67% off'],
 ['PUMA', 'BMW MMS Drift Cat Delta Sneakers For Men', '₹2,799', '65% off'],
 ['HOTSTYLE', 'CR-1 Sneakers For Men', '₹292', '51% off'],
 ['Roadster', 'Sneakers For Men', '₹1,332', '69% off'],
 ['WHITE WALKERS',
  'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
  '₹479',
  '60% off'],
 ['Sparx',
  'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
  '₹719',
  '17% off'],
 ['City Soles', 'Canvas Shoes for Men Sneakers For Men', '₹659', '34% off'],
 ['U.S. POLO ASSN.', 'LEONEL Sneakers For Men', '₹1,999', '50% off'],
 ['KNIGHT WALKERS', 'SS1100 Sneakers For Men', '₹699', '65% off'],
 ['Hida', 'Sneakers For Men', '₹551', '44% off'],
 ['Strollin', 'Sneakers For Men', '₹499', '75% off'],
 ['Robbie jones', 'Sneakers For Men', '₹449', '55% off'],
 ['K- FOOTLANCE',
  'Casual Sneakers White Outdoor Shoes For Boys And Men Sn...',
  '₹599',
  '40% off'],
 ['EMPTILE',
  'heartbeat casual shoe Casuals For Men (White) Sneakers ...',
  '₹356',
  '72% off'],
 ['DUCATI', 'Sneakers For Men', '₹1,405', '62% off'],
 ['KNIGHTWING',
  'Stylish Comfortable Sneakers For Men Sneakers For Men',
  '₹799',
  '55% off'],
 ['Hida', 'Sneakers For Men', '₹485', '51% off'],
 ['LE GREEM',
  'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
  '₹449',
  '55% off'],
 ['Stinson', 'Sneakers For Men', '₹248', '50% off'],
 ['Hida', 'Sneakers For Men', '₹424', '57% off'],
 ['RapidBox', 'Sneakers For Men', '₹437', '56% off'],
 ['Airland', 'sneaker men red 1258 - 10 Sneakers For Men', '₹223', '55% off'],
 ['PUMA', 'Caracal Sneakers For Men', '₹2,914', '41% off'],
 ['RED TAPE', 'Sneakers For Men', '₹1,545', '66% off'],
 ['Robbie jones',
  'Casual Sneakers White Shoes For Men Sneakers For Men',
  '₹440',
  '55% off'],
 ['Layasa', 'Sneakers For Men', '₹399', '60% off'],
 ['HOTSTYLE', 'CR-1 Sneakers For Men', '₹299', '40% off'],
 ['RED TAPE', 'Sneakers For Men', '₹1,749', '65% off'],
 ['AMICO', 'Sneakers For Men', '₹449', '55% off'],
 ['Scull Wings',
  'GREEN SNEAKERS CASUAL SHOES CANVAS SHOES FOR MEN GREEN ...',
  '₹494',
  '67% off'],
 ['RapidBox', 'Sneakers For Men', '₹472', '52% off'],
 ['AMICO', 'Sneakers For Men', '₹449', '55% off'],
 ['Noztile', 'Sneakers For Men', '₹414', '79% off'],
 ['Kraasa', 'Shark-41 Sneakers For Men', '₹468', '53% off'],
 ['DUCATI', 'Sneakers For Men', '₹1,434', '59% off'],
 ['WHITE WALKERS',
  'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
  '₹479',
  '60% off'],
 ['KNIGHT WALKERS', 'SS1100 Sneakers For Men', '₹629', '68% off'],
 ['Chevit',
  'Combo Pack of 5 Casual Sneakers Sneakers For Men',
  '₹721',
  '71% off'],
 ['Aragats', 'Casual Sneakers For Men', '₹494', '50% off']]

In [13]:
#making of dataframe
sneakers = pd.DataFrame(element_list3)
sneakers.columns = ['Brand','Product Description','Price','Discount']
sneakers[:100]

,Brand,Product Description,Price,Discount
0,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹629,66% off
1,Shozie,Sneakers For Men,₹389,61% off
2,aadi,Sneakers For Men,₹279,72% off
3,FindMine,Sneakers For Men,₹499,50% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹179,70% off
...,...,...,...,...
95,Layasa,Sneakers For Men,₹399,60% off
96,World Wear Footwear,Latest Collection Black-349 Trendy & Stylish C...,₹249,50% off
97,Hida,Sneakers For Men,₹485,51% off
98,Xtoon,Modern Trendy Sneakers boot Sneakers For Men,₹424,71% off
99,Robbie jones,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹442,55% off

In [14]:
driver.close

# Q7. Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [18]:
#connect to webdriver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

#to get url
driver.get('https://www.myntra.com/shoes')

In [19]:
# applying price filter
price_tab = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_tab.click()

In [22]:
# applying color filter
color_tab = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_tab.click()

In [23]:
url = 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0'
driver.get(url)

In [25]:
# to find all elements and from different pages and save them in list
element_list4 = []

for page in range (0,2):
    page_url = "https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A7187.0_14125.0_7187.0%20TO%2014125.0" + str(page)
    driver = webdriver.Chrome(r'chromedriver.exe')
    driver.get(page_url)
    brand_tag = driver.find_elements(By.CLASS_NAME,'product-brand')
    description_tag = driver.find_elements(By.XPATH,".//div[@class='product-productMetaInfo']//h4[@class='product-product']")
    price_tag = driver.find_elements(By.XPATH,"//div[@class='product-price']")
    
    for i in range(len(brand_tag)):
        element_list4.append([brand_tag[i].text,description_tag[i].text,price_tag[i].text])
element_list4

[['Nike', 'Men ZOOM WINFLO8 Running Shoes', 'Rs. 7880Rs. 8295(5% OFF)'],
 ['Hush Puppies',
  'Men Solid Leather Formal Slip-Ons',
  'Rs. 7649Rs. 8999(15% OFF)'],
 ['Tommy Hilfiger', 'Men Solid Sneakers', 'Rs. 8999'],
 ['Nike', 'Lebron Witness VI Basketball', 'Rs. 8295'],
 ['ADIDAS Originals',
  'Men Leather Niteball Sneakers',
  'Rs. 10799Rs. 11999(10% OFF)'],
 ['Skechers', 'Men Sports Shoes', 'Rs. 8499'],
 ['ADIDAS Originals',
  'Men ZX 22 BOOST Sneakers',
  'Rs. 10799Rs. 11999(10% OFF)'],
 ['Tommy Hilfiger', 'Men Slip-On Sneakers', 'Rs. 7999'],
 ['Nike', 'Men React Infinity 3 Running', 'Rs. 13295Rs. 13995(5% OFF)'],
 ['Nike', 'Men Running Shoes', 'Rs. 7495'],
 ['Nike', 'Men JORDAN LOW Basketball Shoe', 'Rs. 12795'],
 ['Nike', 'Men SRG 3 FK Training Shoes', 'Rs. 8450Rs. 8895(5% OFF)'],
 ['ADIDAS', 'Men Entry Hiker 2.R.RDY Trek', 'Rs. 7649Rs. 8999(15% OFF)'],
 ['Nike', 'Kyrie Flytrap 5 Basketball', 'Rs. 8195'],
 ['PUMA Motorsport',
  'Mercedes AMG Petronas F1 Shoes',
  'Rs. 9349Rs. 10999(15% OFF)'],
 ['Puma', 'Men Reverse Classics Sneakers', 'Rs. 7199Rs. 8999(20% OFF)'],
 ['Puma', 'Eternity Nitro Running Shoes', 'Rs. 12999'],
 ['ADIDAS', 'Men Dropset Training Shoes', 'Rs. 12999'],
 ['ROSSO BRUNELLO', 'Men Textured Leather Loafers', 'Rs. 12999'],
 ['ADIDAS', 'Men Defiant Generation Tennis', 'Rs. 7999Rs. 9999(20% OFF)'],
 ['UNDER ARMOUR',
  'Men UA TriBase Reign4 Training',
  'Rs. 10199Rs. 11999(15% OFF)'],
 ['Puma', 'Men Liberate Running Shoes', 'Rs. 8799Rs. 10999(20% OFF)'],
 ['Nike', 'Men Zoom C Pro HC Tennis Shoes', 'Rs. 7560Rs. 8895(15% OFF)'],
 ['ADIDAS', 'Men Solar Glide 4 ST Running', 'Rs. 9749Rs. 14999(35% OFF)'],
 ['ADIDAS Originals', 'Men Solid Oznova Sneakers', 'Rs. 11999'],
 ['UNDER ARMOUR',
  'Men HOVR Sonic SE Running Shoe',
  'Rs. 8499Rs. 9999(15% OFF)'],
 ['Puma', 'Unisex Wild Rider Sneakers', 'Rs. 7199Rs. 8999(20% OFF)'],
 ['Puma', 'Men Nitro 2 WIDE Running Shoes', 'Rs. 9599Rs. 11999(20% OFF)'],
 ['ADIDAS Originals',
  'Men Ozrah Leather Sneakers',
  'Rs. 11049Rs. 12999(15% OFF)'],
 ['Tommy Hilfiger', 'Men Leather Sneakers', 'Rs. 8299'],
 ['Nike', 'Air Max Axis Sneakers', 'Rs. 8355Rs. 8795(5% OFF)'],
 ['Tommy Hilfiger', 'Men Leather Sneakers', 'Rs. 7799'],
 ['Puma', 'Men Deviate Nitro Shoes', 'Rs. 10499Rs. 14999(30% OFF)'],
 ['Nike', 'Women Running Shoes', 'Rs. 7880Rs. 8295(5% OFF)'],
 ['Reebok', 'Men Zig Dynamica2Adventure Run', 'Rs. 8999'],
 ['Puma', 'Unisex Eliminate Pro II Shoes', 'Rs. 7199Rs. 8999(20% OFF)'],
 ['PUMA Hoops', 'Fives Blaze Court Basketball', 'Rs. 8249Rs. 10999(25% OFF)'],
 ['Nike', 'Men REACT MILER 3 Running Shoe', 'Rs. 10495'],
 ['ADIDAS', 'Women Eastrail 2 Hiking Shoes', 'Rs. 7999'],
 ['ALDO', 'Men Leather Loafers', 'Rs. 7799Rs. 12999(40% OFF)'],
 ['Hush Puppies', 'Men Perforations Leather Slip-On Sneakers', 'Rs. 7999'],
 ['ADIDAS Originals', 'Men Retropy F90 Sneakers', 'Rs. 9999'],
 ['ADIDAS Originals',
  'Men Woven NMD_31 Sneakers',
  'Rs. 11199Rs. 13999(20% OFF)'],
 ['Nike', 'Women React Escape Running', 'Rs. 9770Rs. 11495(15% OFF)'],
 ['Skechers', 'Men Sports Shoes', 'Rs. 7999'],
 ['Skechers', 'Men Walking Shoes', 'Rs. 7999'],
 ['Tommy Hilfiger', 'Men Leather Sneakers', 'Rs. 8299'],
 ['Puma', 'Men Velocity Nitro 2 Running', 'Rs. 8799Rs. 10999(20% OFF)'],
 ['Nike', 'Men FREE RUN 2 Sneakers', 'Rs. 9210Rs. 9695(5% OFF)'],
 ['Hush Puppies', 'Men Solid Leather Formal Slip-Ons', 'Rs. 9999'],
 ['Nike', 'Men ZOOM WINFLO8 Running Shoes', 'Rs. 7880Rs. 8295(5% OFF)'],
 ['Hush Puppies',
  'Men Solid Leather Formal Slip-Ons',
  'Rs. 7649Rs. 8999(15% OFF)'],
 ['Tommy Hilfiger', 'Men Solid Sneakers', 'Rs. 8999'],
 ['Nike', 'Lebron Witness VI Basketball', 'Rs. 8295'],
 ['ADIDAS Originals',
  'Men Leather Niteball Sneakers',
  'Rs. 10799Rs. 11999(10% OFF)'],
 ['Skechers', 'Men Sports Shoes', 'Rs. 8499'],
 ['ADIDAS Originals',
  'Men ZX 22 BOOST Sneakers',
  'Rs. 10799Rs. 11999(10% OFF)'],
 ['Tommy Hilfiger', 'Men Slip-On Sneakers', 'Rs. 7999'],
 ['Nike', 'Men React Infinity 3 Running', 'Rs. 13295Rs. 13995(5% OFF)'],
 ['Nike', 'Men Running Shoes', 'Rs. 7495'],
 ['Nike', 'Men JORDAN LOW Basketball Shoe', 'Rs. 12795'],
 ['Nike', 'Men SRG 3 FK Training Shoes', 'Rs. 8450Rs. 8895(5% OFF)'],
 ['ADIDAS', 'Men Entry Hiker 2.R.RDY Trek', 'Rs. 7649Rs. 8999(15% OFF)'],
 ['Nike', 'Kyrie Flytrap 5 Basketball', 'Rs. 8195'],
 ['PUMA Motorsport',
  'Mercedes AMG Petronas F1 Shoes',
  'Rs. 9349Rs. 10999(15% OFF)'],
 ['Puma', 'Men Reverse Classics Sneakers', 'Rs. 7199Rs. 8999(20% OFF)'],
 ['Puma', 'Eternity Nitro Running Shoes', 'Rs. 12999'],
 ['ADIDAS', 'Men Dropset Training Shoes', 'Rs. 12999'],
 ['ROSSO BRUNELLO', 'Men Textured Leather Loafers', 'Rs. 12999'],
 ['ADIDAS', 'Men Defiant Generation Tennis', 'Rs. 7999Rs. 9999(20% OFF)'],
 ['UNDER ARMOUR',
  'Men UA TriBase Reign4 Training',
  'Rs. 10199Rs. 11999(15% OFF)'],
 ['Puma', 'Men Liberate Running Shoes', 'Rs. 8799Rs. 10999(20% OFF)'],
 ['Nike', 'Men Zoom C Pro HC Tennis Shoes', 'Rs. 7560Rs. 8895(15% OFF)'],
 ['ADIDAS', 'Men Solar Glide 4 ST Running', 'Rs. 9749Rs. 14999(35% OFF)'],
 ['ADIDAS Originals', 'Men Solid Oznova Sneakers', 'Rs. 11999'],
 ['UNDER ARMOUR',
  'Men HOVR Sonic SE Running Shoe',
  'Rs. 8499Rs. 9999(15% OFF)'],
 ['Puma', 'Unisex Wild Rider Sneakers', 'Rs. 7199Rs. 8999(20% OFF)'],
 ['Puma', 'Men Nitro 2 WIDE Running Shoes', 'Rs. 9599Rs. 11999(20% OFF)'],
 ['ADIDAS Originals',
  'Men Ozrah Leather Sneakers',
  'Rs. 11049Rs. 12999(15% OFF)'],
 ['Tommy Hilfiger', 'Men Leather Sneakers', 'Rs. 8299'],
 ['Nike', 'Air Max Axis Sneakers', 'Rs. 8355Rs. 8795(5% OFF)'],
 ['Tommy Hilfiger', 'Men Leather Sneakers', 'Rs. 7799'],
 ['Puma', 'Men Deviate Nitro Shoes', 'Rs. 10499Rs. 14999(30% OFF)'],
 ['Nike', 'Women Running Shoes', 'Rs. 7880Rs. 8295(5% OFF)'],
 ['Reebok', 'Men Zig Dynamica2Adventure Run', 'Rs. 8999'],
 ['Puma', 'Unisex Eliminate Pro II Shoes', 'Rs. 7199Rs. 8999(20% OFF)'],
 ['PUMA Hoops', 'Fives Blaze Court Basketball', 'Rs. 8249Rs. 10999(25% OFF)'],
 ['Nike', 'Men REACT MILER 3 Running Shoe', 'Rs. 10495'],
 ['ADIDAS', 'Women Eastrail 2 Hiking Shoes', 'Rs. 7999'],
 ['ALDO', 'Men Leather Loafers', 'Rs. 7799Rs. 12999(40% OFF)'],
 ['Hush Puppies', 'Men Perforations Leather Slip-On Sneakers', 'Rs. 7999'],
 ['ADIDAS Originals', 'Men Retropy F90 Sneakers', 'Rs. 9999'],
 ['ADIDAS Originals',
  'Men Woven NMD_31 Sneakers',
  'Rs. 11199Rs. 13999(20% OFF)'],
 ['Nike', 'Women React Escape Running', 'Rs. 9770Rs. 11495(15% OFF)'],
 ['Skechers', 'Men Sports Shoes', 'Rs. 7999'],
 ['Skechers', 'Men Walking Shoes', 'Rs. 7999'],
 ['Tommy Hilfiger', 'Men Leather Sneakers', 'Rs. 8299'],
 ['Puma', 'Men Velocity Nitro 2 Running', 'Rs. 8799Rs. 10999(20% OFF)'],
 ['Nike', 'Men FREE RUN 2 Sneakers', 'Rs. 9210Rs. 9695(5% OFF)'],
 ['Hush Puppies', 'Men Solid Leather Formal Slip-Ons', 'Rs. 9999']]

In [26]:
#making of dataframe
shoes = pd.DataFrame(element_list4)
shoes.columns = ['Brand','Product Description','Price']
shoes

,Brand,Product Description,Price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
1,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
2,Tommy Hilfiger,Men Solid Sneakers,Rs. 8999
3,Nike,Lebron Witness VI Basketball,Rs. 8295
4,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 10799Rs. 11999(10% OFF)
...,...,...,...
95,Skechers,Men Walking Shoes,Rs. 7999
96,Tommy Hilfiger,Men Leather Sneakers,Rs. 8299
97,Puma,Men Velocity Nitro 2 Running,Rs. 8799Rs. 10999(20% OFF)
98,Nike,Men FREE RUN 2 Sneakers,Rs. 9210Rs. 9695(5% OFF)
99,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999

In [27]:
driver.close

# Q8.Go to webpage https://www.amazon.in/

Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:

1. Title

2. Ratings

3. Price

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

driver.get("https://www.amazon.in/")

In [3]:
# enter “laptop” in the search field.
search_product = driver.find_element(By.XPATH,"//div[@class='nav-search-field ']/input")
search_product.send_keys("laptop")

In [4]:
# click the search button
search_btn = driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [5]:
# applying CPU Type filter to “Intel Core i7” filter by checking the respective box
i7_clk=driver.find_elements(By.XPATH,"//span[@class='a-size-base a-color-base']")
for i in i7_clk:
    if i.text == 'Intel Core i7':   
        i.click() # Checking the checkbox to apply filter on the laptop
        break

In [6]:
# creating empty list to scraping data into them

Title=[]
Rating=[]
Price=[]

# extracting all the tags

titles=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles:
    Title.append(i.text)
    
titles_rat=driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']/span")
for i in titles_rat:
    Rating.append(i.get_attribute("aria-label"))
        
titles_Price=driver.find_elements(By.XPATH,"//span[@class='a-price']")
for i in titles_Price:
    Price.append(i.text[1:])

In [7]:
# extratcing ratings from the unorganised rating tag

rating=[]
for i in range(0,len(Rating)):
    if i == 0 or  i/2 == i//2:
        rating.append(Rating[i][0:3])

In [8]:
# creating dataframe for the first 10 laptops data on amazon.com:

amazon =pd.DataFrame({})
amazon['Title']=Title[0:10]
amazon['Rating']=rating[0:10]
amazon['Price']=Price[0:10]

print("The data for the first 10 laptops data on amazon.com:\n")
amazon

The data for the first 10 laptops data on amazon.com:

                                               Title Rating     Price
0  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    4.3    82,990
1  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...    4.4  1,06,999
2  ASUS Zenbook Flip 14 OLED (2022), 14" (35.56 c...    3.9  1,34,990
3  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    3.3    72,990
4  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...    4.4    29,998
5  HP Pavilion 11th Gen Intel Core i7 15.6 inches...    4.3    89,450
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    3.8    80,790
7  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    4.1    58,000
8  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    4.1    82,990
9  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    5.0    85,900

In [9]:
driver.close

# Q9.Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/

2. Click on the Job option as shown in the image

3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.

4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.

5. Then scrape the data for the first 10 jobs results you get on the above shown page.

6. Finally create a dataframe of the scraped data

In [14]:
#connect to webdriver
driver = webdriver.Chrome(r"chromedriver.exe")
time.sleep(2)

#to get url
driver.get('https://www.ambitionbox.com/')

In [16]:
# to select job link from main page
job_link = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a').click()
job_link

In [17]:
# get url
url = 'https://www.ambitionbox.com/jobs'
driver.get(url)

In [18]:
# to search and click on data scientist in search bar
search_job = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
search_job.send_keys("Data Scientist")

In [19]:
search_button = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search_button.click()

In [20]:
# to click location tab 
location = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
location.click()

In [21]:
# to click Noida in location
city = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
city.click()

In [22]:
url = 'https://www.ambitionbox.com/jobs/search?tag=Data%20Scientist&location=Noida'
driver.get(url)

In [24]:
# to get company name
company = []
company_tag = driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
company_tag

for i in company_tag:
    title = i.text
    company.append(title)
company[:10]

#To get how many days ago the job was posted
days = []
days_tag = driver.find_elements(By.XPATH,"//div[@class='other-info']//span[@class='body-small-l']")
days_tag

for i in days_tag:
    title = i.text
    days.append(title)
days[0:20:2]

#company rating
rating = []
rating_tag = driver.find_elements(By.XPATH,"//div[@class='rating-wrapper']//span[@class='body-small']")
rating_tag
for i in rating_tag:
    title = i.text
    rating.append(title)
rating[:10]


#making of dataframe from collected data
jobs = pd.DataFrame({})
jobs['Company Name']=company
jobs['Job posted'] = days[:10]
jobs['Rating'] = rating[:10]
jobs

                                     Company Name       Job posted Rating
0  Optum Global Solutions (India) Private Limited           3d ago    4.1
1  BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED   via naukri.com    4.3
2                                          EY GDS         17hr ago    3.8
3               GLOBALLOGIC INDIA PRIVATE LIMITED   via naukri.com    4.0
4                         CBRE South Asia Pvt Ltd           3d ago    4.3
5                   GENPACT India Private Limited  via iimjobs.com    4.0
6                                         Genpact         17hr ago    4.0
7        Ericsson India Global Services Pvt. Ltd.   via naukri.com    4.3
8                         Dew Solutions Pvt. Ltd.          30d ago    4.3
9                    One97 Communications Limited   via naukri.com    3.8

In [25]:
driver.close

# Q10.Write a python program to scrape the salary data for Data Scientist designation.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

The above task will be, done as shown in the below steps:

1. First get the webpage https://www.ambitionbox.com/

2. Click on the salaries option as shown in the image.

3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.

You have to scrape the data ticked in the above image.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

5. Store the data in a dataframe.

In [37]:
#calling webdriver chrome in driver variable.
driver=webdriver.Chrome(r'chromedriver.exe')

In [38]:
#getting all the data of site on the driver or we can say opening the link.

driver.get('https://www.ambitionbox.com/')

In [39]:
#clicking on the salary button using code.

salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span')
salary.click()

In [40]:
#after clicking on the salary button a list appears so selecting the option of browse salary from there by clicking on it.

salary_browse=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[1]')
salary_browse.click()

In [41]:
#sending data scientist in the field of job search.

job=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
job.send_keys('data scientist')

In [42]:
#clicking on the data science option that appears using code.

search=driver.find_element(By.XPATH,'//p[@class="tt_text"]')
search.click()

In [43]:
#scraping company name using xpath.

company=[]
com_tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in com_tag[:10]:
    company.append(i.text.replace('\nData Scientist Salary','').split())

In [44]:
#scraping salary record using xpath.

salrecord=[]
record=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in record:
    salrecord.append(i.text)

In [45]:
#scraping average salary of first 10 job.

avg_sal=[]
average=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in average:
    avg_sal.append(i.text)

In [46]:
#scraping experience required for the job.

exp=[]
expreq=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in expreq:
    exp.append(i.text.split()[:3])

In [47]:
#scraping the maximum salary.

maxsal=[]
maxx_tag=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
for i in maxx_tag:
    maxsal.append(i.text)
    
#scraping the minimum salary
    
minsal=[]
minn_tag=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
for i in minn_tag:
    minsal.append(i.text)

In [48]:
#checking the length of the variables .

print(len(company),len(avg_sal),len(maxsal),len(minsal),len(exp),len(salrecord))

10 10 10 10 10 10

In [49]:
#creating dataframe from the data that has been asked to collect.

df=pd.DataFrame({'COMPANY':company,'TOTAL SALARY RECORD':salrecord,'MAXIMUM SALARY':maxsal,'MINIMUM SALARY':minsal,'AVERAGE SALARY':avg_sal,'EXPERIENCE REQUIRED':exp})
df

,COMPANY,TOTAL SALARY RECORD,MAXIMUM SALARY,MINIMUM SALARY,AVERAGE SALARY,EXPERIENCE REQUIRED
0,"[Walmart, 3-4, yrs, experience, (based, on, 23...",(based on 23 salaries),₹ 45.0L,₹ 25.0L,₹ 32.3L,"[3-4, yrs, experience]"
1,"[Ab, Inbev, 2-4, yrs, experience, (based, on, ...",(based on 57 salaries),₹ 26.0L,₹ 15.0L,₹ 19.9L,"[2-4, yrs, experience]"
2,"[Optum, 2-4, yrs, experience, (based, on, 49, ...",(based on 49 salaries),₹ 22.6L,₹ 11.0L,₹ 16.4L,"[2-4, yrs, experience]"
3,"[ZS, 1-2, yrs, experience, (based, on, 34, sal...",(based on 34 salaries),₹ 22.0L,₹ 11.0L,₹ 15.8L,"[1-2, yrs, experience]"
4,"[Fractal, Analytics, 2-4, yrs, experience, (ba...",(based on 115 salaries),₹ 23.0L,₹ 9.0L,₹ 15.4L,"[2-4, yrs, experience]"
5,"[Tiger, Analytics, 2-4, yrs, experience, (base...",(based on 68 salaries),₹ 20.0L,₹ 9.0L,₹ 14.7L,"[2-4, yrs, experience]"
6,"[Sigmoid, Analytics, 1, yr, experience, (based...",(based on 10 salaries),₹ 19.7L,₹ 12.7L,₹ 14.7L,"[1, yr, experience]"
7,"[Legato, Health, Technologies, 4, yrs, experie...",(based on 11 salaries),₹ 20.0L,₹ 11.0L,₹ 14.5L,"[4, yrs, experience]"
8,"[HSBC, 4, yrs, experience, (based, on, 10, sal...",(based on 10 salaries),₹ 18.0L,₹ 12.0L,₹ 14.0L,"[4, yrs, experience]"
9,"[Tredence, 3, yrs, experience, (based, on, 14,...",(based on 14 salaries),₹ 17.5L,₹ 8.8L,₹ 13.9L,"[3, yrs, experience]"

In [50]:
driver.close